@()

<footer id="FOOTER" class="row">
    <section id="COPYRIGHT" class="medium-4 column">
        <p>
            <em>ed can hack</em> by <a href="mailto:ed+edcanhack@@edropple.com" target="_blank">Ed Ropple</a>.
        </p>
    </section>
    <section id="EDBLOG" class="medium-8 column">
        <p>
            Served with <em>edblog</em> and available on <a href="https://github.com/eropple/edblog" target="_blank">Github</a>.
        </p>
    </section>
</footer>

<script src='@controllers.routes.Application.asset("js/lib/jquery.min.js")'></script>
<script src='@controllers.routes.Application.asset("js/lib/foundation.min.js")'></script>
<script src='@controllers.routes.Application.asset("js/app.js")'></script>
<script src='@controllers.routes.Application.asset("js/lib/prism.js")'></script>
</body>
</html>
