@(post: domain.Post)

@play.api.Play.current.configuration.getString("blog.disqus_shortname").map(disqusShortname =>
    <div class="disqus-embed-comments small-12 column">
        <div id="disqus_thread"></div>
        <script type="text/javascript">{s"""
            var disqus_shortname = '@{disqusShortname}';
            var disqus_identifier = '${post.disqusId}';
            var disqus_title = '@{post.title}';
            var disqus_url = '@{post.reverseRoute(0)}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();"""}
        </script>
    </div>
)