include "base"

application.secret="ENTER SECRET KEY HERE-------------------------------------------"

blog.title = "Blog Title"
blog.subtitle = "Blog Subtitle"
blog.author = "Author Name"
blog.email = "author@example.com"

blog.theme = "ThemeName"